*{
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    border-style: none;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border-style: none;
}

.navBar{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;    
}

.leftNavBar{
    width: 50%;
    height: 100%;
}

.rightNavBar{
    width: 50%;
    height: 100%;
}

.rightNavBar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-section{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 9%;
}

.navBar li{
    list-style: none;
    margin: 3% 0%;
}

.rightNavBar a{
    font-weight: 400;
    font-size: 1.5rem;
    color: black;
    transition: 180ms;
}

.leftNavBar a{
    font-weight: 600;
    font-size: 1.75rem;
    color: black;
    text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 40%);
}

.rightNavBar a:hover{
    padding: 7px 14px;
    color: white;
    border-radius: 20px;
    background-image: linear-gradient(90deg,#E75C25,#F27C28);
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 40%);

}

.coverPage{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;

}

.coverPage .contentWrapper{
    width: 50%;
    height: 100%;
    margin-top: 5%;
    margin-left: 4.2%;
    line-height: 1.5;
}

.contentWrapper h1{
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 40%);
}

.contentWrapper p{
    font-size: 1.5rem;
    margin-bottom: 60px;
}

.contentWrapper button{
    width: 140px;
    height: 50px;
    border-radius: 20px;
    background-image: linear-gradient(90deg,#E75C25,#F27C28);
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 40%);
}

.contentWrapper a{
    font-size: 1.75rem;
    color: white;
    text-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 20%);
}

.contentWrapper h6{
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 20px;
}

.coverPage .imageWrapper{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper img{
    height: 75%;
    width: 55%;
    padding-right: 80px;
}

.box1{
    background-color: #97F9E3;
    position: absolute;
    right: -12%;
    top: -10%;
    height: 140vh;
    width: 45vw;
    transform: rotate(20deg);
    z-index: -20;
}

.box2{
    background-color: #97F9E3;
    position: absolute;
    left: -12%;
    bottom: -45%;
    height: 40vh;
    width: 45vw;
    transform: rotate(30deg);
    z-index: -20;
}

/* coverPage-end */


.signInPage-background{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/5591276.jpg);
    background-size: cover;
}

.contentWrapper-s{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 3rem 7rem rgb(0 0 0 / 50%);
}

.contentWrapper-s .leftcontentWrapper-s {
    width: 50%;
    height: 100%;
    background-color: #97F9E3;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftcontentWrapper-s img{
    width: 80%;
}

.contentWrapper-s .rightcontentWrapper-s{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.rightcontentWrapper-s h1{
    margin-bottom: 30px;
    font-weight: 600;
}

.Signthrough{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-style:solid 2px;
    border-bottom: black;
}

.Signthrough button{
    width: 58%; 
    padding: 2% 0%; 
    border-radius: 12px;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 40%);
    font-weight: 500;
}

.or{
    padding-bottom: 20px;
    font-weight: 500;
}

.rightcontentWrapper-s form{
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    position: relative;
}

.rightcontentWrapper-s input{
    margin-bottom: 25px;
    width: 50%; 
    padding: 2% 0%; 
    padding-left: 8%;
    border-radius: 12px;
    background-color: #97F9E3;
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 40%);
    outline: none;
}

::-webkit-input-placeholder { /* Edge */
    color: black !important;
    opacity: 1;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif; 
  }

#password-s{
    margin-bottom: 35px;
}

#submit-s{
    margin-bottom: 30px;
    width: 20%; 
    padding: 1.5% 2.5%; 
    border-radius: 12px;
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 40%);
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#loginLink{    
    color: #F27C28;
    font-weight: 500;
}

.fa-lock{
    position: absolute;
    left: 24%;
    top: 27%;
}

.fa-user{
  position: absolute;
  left: 24%;
  top: 4%;
}

.fa-envelope{
  position: absolute;
  left: 24%;
  top: 50%;
}


/* signIN-page end */

.loginPage-background{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background-login.jpg);
    background-size: cover;
}

.contentWrapper-l{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 3rem 7rem rgb(0 0 0 / 50%);
}

.contentWrapper-l .leftcontentWrapper-l{
    width: 50%;
    height: 100%;
    background-color: #97F9E3;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrapper-l .rightcontentWrapper-l{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.rightcontentWrapper-l h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 40px;
    text-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 20%);
}

.rightcontentWrapper-l form{
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    position: relative;
}

.rightcontentWrapper-l input{
    margin-bottom: 40px;
    width: 50%; 
    padding: 2% 0%; 
    padding-left: 8%;
    border-radius: 12px;
    background-color: #97F9E3;
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 40%);
    outline: none;
}

#rememberMe{
    width: auto;
    margin-right: 55px;
    margin-left: 7px;
}

#submit-l{
    margin-bottom: 40px;
    width: 20%; 
    padding: 1.5% 2.5%; 
    border-radius: 12px;
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 40%);
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-input-placeholder { /* Edge */
    color: black !important;
    opacity: 1;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif; 
  }

  .fa-lock{
      position: absolute;
      left: 24%;
      top: 30%;
  }

  .fa-user{
    position: absolute;
    left: 24%;
    top: 4%;
  }

  form a{
      color: black;
  }

  #forgotPassword{
      
      color: #F27C28;
      font-weight: 500;
  }